USE [library]
GO
ALTER TABLE [dbo].[borrowrecords] DROP CONSTRAINT [FK__borrowrec__membe__47DBAE45]
GO
ALTER TABLE [dbo].[borrowrecords] DROP CONSTRAINT [FK__borrowrec__book___46E78A0C]
GO
/****** Object:  Index [UQ__members__AB6E61641A15202B]    Script Date: 2025/11/24 06:25:07 ******/
ALTER TABLE [dbo].[members] DROP CONSTRAINT [UQ__members__AB6E61641A15202B]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2025/11/24 06:25:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[members]') AND type in (N'U'))
DROP TABLE [dbo].[members]
GO
/****** Object:  Table [dbo].[borrowrecords]    Script Date: 2025/11/24 06:25:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[borrowrecords]') AND type in (N'U'))
DROP TABLE [dbo].[borrowrecords]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2025/11/24 06:25:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[books]') AND type in (N'U'))
DROP TABLE [dbo].[books]
GO
USE [master]
GO
/****** Object:  Database [library]    Script Date: 2025/11/24 06:25:07 ******/
DROP DATABASE [library]
GO
/****** Object:  Database [library]    Script Date: 2025/11/24 06:25:07 ******/
CREATE DATABASE [library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2025/11/24 06:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[author] [varchar](100) NOT NULL,
	[genre] [varchar](50) NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrowrecords]    Script Date: 2025/11/24 06:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrowrecords](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[member_id] [int] NOT NULL,
	[borrow_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2025/11/24 06:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([book_id], [title], [author], [genre], [available]) VALUES (1, N'The Hobbit', N'J.R.R. Tolkien', N'Fantasy', 1)
INSERT [dbo].[books] ([book_id], [title], [author], [genre], [available]) VALUES (2, N'1984', N'George Orwell', N'Dystopian', 1)
INSERT [dbo].[books] ([book_id], [title], [author], [genre], [available]) VALUES (3, N'Clean Code', N'Robert C. Martin', N'Programming', 1)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[borrowrecords] ON 

INSERT [dbo].[borrowrecords] ([transaction_id], [book_id], [member_id], [borrow_date], [due_date], [return_date]) VALUES (1, 1, 1, CAST(N'2025-09-25' AS Date), CAST(N'2025-10-02' AS Date), CAST(N'2025-09-25' AS Date))
INSERT [dbo].[borrowrecords] ([transaction_id], [book_id], [member_id], [borrow_date], [due_date], [return_date]) VALUES (2, 4, 2, CAST(N'2025-09-27' AS Date), CAST(N'2025-09-27' AS Date), CAST(N'2025-09-26' AS Date))
INSERT [dbo].[borrowrecords] ([transaction_id], [book_id], [member_id], [borrow_date], [due_date], [return_date]) VALUES (3, 3, 1, CAST(N'2025-09-23' AS Date), CAST(N'2025-09-26' AS Date), CAST(N'2025-09-27' AS Date))
SET IDENTITY_INSERT [dbo].[borrowrecords] OFF
GO
SET IDENTITY_INSERT [dbo].[members] ON 

INSERT [dbo].[members] ([member_id], [name], [email]) VALUES (1, N'Alice Smith', N'alice@example.com')
INSERT [dbo].[members] ([member_id], [name], [email]) VALUES (2, N'Bob Mokoena', N'bob@example.com')
INSERT [dbo].[members] ([member_id], [name], [email]) VALUES (3, N'Carol Jones', N'carol@example.com')
SET IDENTITY_INSERT [dbo].[members] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__members__AB6E61641A15202B]    Script Date: 2025/11/24 06:25:07 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[borrowrecords]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([book_id])
GO
ALTER TABLE [dbo].[borrowrecords]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([member_id])
GO
USE [master]
GO
